name: Build and Test
on:
  # Automatically trigger on push
  push:

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: 'ci'
  cancel-in-progress: false

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Yarn Install
        run: yarn
        shell: bash

      - name: Build
        run: yarn build
        shell: bash

      - name: Test
        run: yarn test
        shell: bash
